/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif; }

a {
  color: #ce1212;
  text-decoration: none; }

.header {
  height: 90px;
  background-color: white; }
  .header .btn-book-a-table {
    font-size: 14px;
    color: #fff;
    background: #ce1212;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    transition: 0.3s;
    display: inline-block; }
    @media (max-width: 991px) {
      .header .btn-book-a-table {
        margin-left: 0;
        margin-top: 1rem; } }
    .header .btn-book-a-table:hover {
      color: #fff;
      background: rgba(206, 18, 18, 0.8); }

.navbar-brand span {
  color: #ce1212; }

.nav-link {
  position: relative; }
  .nav-link::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #ce1212;
    position: absolute;
    left: 0;
    bottom: 0;
    border: none;
    transition: 0.3s; }
  .nav-link:hover {
    color: #212529; }
    .nav-link:hover::after {
      width: 100%; }

.btn-book-a-table {
  background-color: #ce1212;
  color: white; }
  .btn-book-a-table:hover {
    background-color: rgba(206, 18, 18, 0.7);
    color: white; }

section {
  padding: 80px 0;
  scroll-margin-top: 90px; }

.hero {
  padding: 160px 0 60px 0; }
  .hero h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #37373f;
    margin-bottom: 20px; }
  .hero .btn-book-a-table {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #ce1212;
    box-shadow: 0px 8px 28px #ce1212; }
    .hero .btn-book-a-table:hover {
      background: rgba(206, 18, 18, 0.8);
      box-shadow: 0px 8px 28px #ce1212; }
  .hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: #37373f;
    font-weight: 600; }
    .hero .btn-watch-video i {
      color: #ce1212;
      font-size: 32px;
      transition: 0.3s;
      line-height: 0;
      margin-right: 8px; }
    .hero .btn-watch-video span {
      padding-left: 10px; }
    .hero .btn-watch-video:hover {
      color: #ce1212; }

.section-bg {
  background-color: #eee; }

.section-header {
  text-align: center;
  padding-bottom: 30px; }
  .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  .section-header p {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    font-family: "Amatic SC", sans-serif; }
    .section-header p span {
      color: #ce1212; }

.about .call-us {
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: #fff;
  box-shadow: 0 2px 25px black;
  padding: 20px;
  text-align: center; }
  .about .call-us h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  .about .call-us p {
    font-size: 28px;
    font-weight: 700;
    color: #ce1212; }

.about .content ul {
  list-style: none;
  padding: 0; }
  .about .content ul i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: -3px;
    color: #ce1212; }
  .about .content ul li {
    padding: 0 0 8px 26px;
    position: relative; }

.about-img {
  background-image: url(../../assets/img/about.jpg);
  min-height: 500px; }

.why-us .why-box {
  padding: 30px;
  background: #ce1212;
  color: #fff; }
  .why-us .why-box h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px; }
  .why-us .why-box p {
    margin-bottom: 30px; }
  .why-us .why-box .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s; }
    .why-us .why-box .more-btn:hover {
      color: #ce1212;
      background: #fff; }

.why-us .icon-box {
  text-align: center;
  background: #fff;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(55, 55, 63, 0.1);
  transition: 0.3s; }
  @media (min-width: 991px) {
    .why-us .icon-box:hover {
      transform: scale(1.1); } }
  .why-us .icon-box i {
    color: #ce1212;
    margin-bottom: 30px;
    font-size: 32px;
    margin-bottom: 30px;
    background: rgba(206, 18, 18, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px; }
  .why-us .icon-box h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px 0;
    font-family: "Inter", sans-serif; }
  .why-us .icon-box p {
    font-size: 15px;
    color: #6c757d; }

.stats-counter {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/stats-bg.jpg) center center;
  background-size: cover;
  padding: 100px 0; }
  .stats-counter .stats-item {
    padding: 30px;
    width: 100%; }
    .stats-counter .stats-item span {
      font-size: 48px;
      display: block;
      color: #fff;
      font-weight: 700; }
    .stats-counter .stats-item p {
      padding: 0;
      margin: 0;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.6); }

.menu .nav-link.active {
  color: #ce1212;
  border-color: #ce1212; }

.menu .nav-link {
  margin: 0 10px;
  padding: 10px 5px;
  transition: 0.3s;
  color: #37373f;
  border-radius: 0;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 2px solid #b6b6bf; }
  .menu .nav-link:hover {
    color: #ce1212; }
  .menu .nav-link h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    font-family: "Inter", sans-serif; }

.menu .tab-content .tab-header {
  padding: 30px 0; }
  .menu .tab-content .tab-header p {
    font-size: 14px;
    text-transform: uppercase;
    color: #676775;
    margin-bottom: 0; }
  .menu .tab-content .tab-header h3 {
    font-size: 36px;
    font-weight: 600;
    color: #ce1212; }

.menu .tab-content .menu-item {
  -moz-text-align-last: center;
  text-align-last: center; }
  .menu .tab-content .menu-item .menu-img {
    padding: 0 60px;
    margin-bottom: 15px; }
  .menu .tab-content .menu-item h4 {
    font-size: 22px;
    font-weight: 500;
    color: #37373f;
    font-family: "Inter", sans-serif;
    margin-bottom: 5px; }
  .menu .tab-content .menu-item .ingredients {
    font-family: "Inter", sans-serif;
    color: #8d8d9b;
    margin-bottom: 5px; }
  .menu .tab-content .menu-item .price {
    font-size: 24px;
    font-weight: 700;
    color: #ce1212; }

.testimonials .testimonial-item .testimonial-content {
  border-left: 3px solid #ce1212;
  padding-left: 30px; }

.testimonials .testimonial-item p {
  font-style: italic; }

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative; }

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1); }

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #f05656;
  font-size: 26px;
  line-height: 0; }

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #212529;
  font-family: "Inter", sans-serif; }

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #6c757d;
  margin: 0 0 10px 0;
  font-family: "Inter", sans-serif; }

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px; }

.testimonials .testimonial-item .testimonial-img {
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto; }

.testimonials .swiper-pagination {
  margin-top: 40px;
  position: relative; }
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d1d1d7;
    opacity: 1; }
    .testimonials .swiper-pagination .swiper-pagination-bullet-active {
      background-color: #ce1212; }

.events .event-item {
  background-size: cover;
  background-position: center;
  min-height: 600px;
  padding: 30px; }
  .events .event-item::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0; }
  .events .event-item h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
    position: relative; }
  .events .event-item .price {
    color: #fff;
    border-bottom: 2px solid #ce1212;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    position: relative; }
  .events .event-item .description {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.9);
    position: relative; }

.events .swiper-pagination {
  margin-top: 20px;
  position: relative; }
  .events .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #d1d1d7;
    opacity: 1; }
    .events .swiper-pagination .swiper-pagination-bullet-active {
      background-color: #ce1212; }

.chefs .chef-member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 30px #37373f;
  transition: 0.3s; }
  .chefs .chef-member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 30px #37373f; }
    .chefs .chef-member:hover .social {
      right: 8px;
      opacity: 1; }
  .chefs .chef-member .member-img {
    position: relative;
    overflow: hidden; }
    .chefs .chef-member .member-img::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background: url(../img/team-shape.svg) no-repeat center bottom;
      background-size: contain;
      z-index: 1; }
  .chefs .chef-member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2; }
    .chefs .chef-member .social a {
      transition: color 0.3s;
      color: rgba(55, 55, 63, 0.4);
      margin: 15px 12px;
      display: block;
      line-height: 0;
      text-align: center; }
      .chefs .chef-member .social a:hover {
        color: rgba(55, 55, 63, 0.9); }
    .chefs .chef-member .social i {
      font-size: 18px; }
  .chefs .chef-member .member-info {
    padding: 10px 15px 20px 15px; }
    .chefs .chef-member .member-info h4 {
      font-weight: 700;
      margin-bottom: 5px;
      font-size: 20px;
      color: #37373f; }
    .chefs .chef-member .member-info span {
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: rgba(33, 37, 41, 0.4); }
    .chefs .chef-member .member-info p {
      font-style: italic;
      font-size: 14px;
      padding-top: 15px;
      line-height: 26px;
      color: rgba(33, 37, 41, 0.7); }

.book-a-table .reservation-img {
  min-height: 500px;
  background-size: cover;
  background-position: center; }

.book-a-table .reservation-form-bg {
  background: rgba(55, 55, 63, 0.04); }

.book-a-table .email-form {
  padding: 40px; }
  .book-a-table .email-form input {
    padding: 12px 15px; }

.book-a-table .email-form input,
.book-a-table .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0; }
  .book-a-table .email-form input:focus,
  .book-a-table .email-form textarea:focus {
    border-color: #ce1212; }

.book-a-table .email-form textarea {
  padding: 12px 15px; }

.book-a-table .email-form button[type="submit"] {
  background: #ce1212;
  border: 0;
  padding: 14px 60px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px; }
  .book-a-table .email-form button[type="submit"]:hover {
    background: #ec2727; }

.gallery {
  overflow: hidden; }
  .gallery .swiper-pagination {
    margin-top: 20px;
    position: relative; }
    .gallery .swiper-pagination .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: #d1d1d7;
      opacity: 1; }
      .gallery .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #ce1212; }
  @media (min-width: 992px) {
    .gallery .swiper-slide-active {
      border: 6px solid #ce1212;
      padding: 4px;
      background: #fff;
      z-index: 1;
      transform: scale(1.2); } }
  .gallery .swiper-slide-active {
    text-align: center; }
  @media (min-width: 992px) {
    .gallery .swiper-wrapper {
      padding: 40px 0; } }

.contact .info-item {
  background: #f4f4f4;
  padding: 30px;
  height: 100%; }
  .contact .info-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: #fff;
    background: #ce1212;
    border-radius: 50%;
    margin-right: 15px; }
  .contact .info-item h3 {
    font-size: 20px;
    color: #6c757d;
    font-weight: 700;
    margin: 0 0 5px 0; }
  .contact .info-item p {
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: 14px; }

.contact .email-form {
  width: 100%;
  margin-top: 30px;
  background: #fff;
  box-shadow: 0px 0px 30px black; }
  .contact .email-form .form-group {
    padding-bottom: 20px; }
  .contact .email-form input {
    height: 48px; }
  .contact .email-form input,
  .contact .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px; }
    .contact .email-form input:focus,
    .contact .email-form textarea:focus {
      border-color: #ce1212; }
  .contact .email-form textarea {
    padding: 10px 12px; }
  .contact .email-form button[type="submit"] {
    background: #ce1212;
    border: 0;
    padding: 12px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px; }
    .contact .email-form button[type="submit"]:hover {
      background: #ec2727; }

.footer {
  font-size: 14px;
  background-color: #1f1f24;
  padding: 50px 0;
  color: rgba(255, 255, 255, 0.7); }
  .footer .icon {
    margin-right: 15px;
    font-size: 24px;
    line-height: 0; }
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    color: #fff; }
  .footer .footer-links {
    margin-bottom: 30px; }
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s; }
    .footer .social-links a:hover {
      color: #fff;
      border-color: #fff; }
  .footer .copyright {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px; }
    .footer .credits a {
      color: #fff; }

.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #ce1212;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s; }
  .scroll-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0; }
  .scroll-top:hover {
    background: #ec2727;
    color: #fff; }
  .scroll-top.active {
    visibility: visible;
    opacity: 1; }

#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh; }
  #preloader::before, #preloader::after {
    content: "";
    position: absolute;
    border: 4px solid #ce1212;
    border-radius: 50%;
    -webkit-animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite; }
  #preloader::after {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }

@-webkit-keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1; }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0; } }

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1; }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0; } }

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important; } }
